@media all and (max-width: 1000px) and (min-width: 800px) {
    
    .header { 
        width: 100%;
        max-width: 760px;
        }
    
    .background {
        background-position: center center;
    }
    
    .welcom {width: 760px;}
     
    .word {
    font-size: 45px;
    padding-top: 65px;
    font-weight: bold;
    line-height: 2;
}
   .some-text {
    font-size: 24px;
    width: 375px;
    text-align: justify;
}
    .connect {margin-right: 0px;}
        
    .preview {
    padding-top: 30px;
    width: 760px;
    height: 250px;
    
}
    .text {
     width:  330px;
     font-size: 11px;
     line-height: 1.5; 
    }
    
    .form {
        width: 340px;
        right: 25px;
    }
    
    .sub {
    width: 200px;
    height: 50px;
    margin-top: 20px;
}
    
    .why {
        width: 100%;
        max-width: 760px; 
        font-size: 20px;
    }
    .colums {
        flex-direction: column;
        text-align: left;
        width: 100%;
        max-width: 760px;
        
    }
    
    .env, .prog, .teach {
        display: flex; 
        justify-content: space-between;
    }
    
    .button {
        margin: 30px 0;
        text-align: center;  
    }
    
    .head {
        margin-top: 0;
    }
    
    .text3 {
        width: 430px;
        height: 75px; 
  } 
    .sf-wrapper {
        width: 100%;
        max-width: 760px;
    }
    
    .what {
        font-size: 20px;
    }
    
    .arrow {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    
    .text4 {
        width: 540px;
        height: 80px;
    }
   
    .feedback-form {
        width: 100%;
        max-width: 760px; }
    
    .button-form {
        font-size: 20px;
        width: 100%;
        max-width: 470px;
        padding: 12px;
        }

    .boy {
        right: 5px;
        bottom: -74px; }
    
    .footer {
        width: 100%;
        max-width: 760px; 
        margin: auto;
    }
    .footer-text {
        line-height: 1.5;
    }
      
    
    
    
    